<div>
    <span 
        class="status" 
        [class.checked-in]="detail.checkedIn">
    </span>

    <div *ngIf="editing">
        <input 
            type="text" 
            [value]="detail.fullname" 
            (input)="onNameChange(fname.value)" 
            #fname>
    </div>

    <div *ngIf="!editing">{{detail.fullname}}</div>

    <div class="date">
        Check in date: 
        {{ 
            detail.checkInDate 
            ? (detail.checkInDate | date: 'yMMMMd') 
            : 'Not checkedIn🏷'
        }}
    </div>
    <div class="baggage">
        Baggage: {{detail.baggage}}
    </div>
    <button (click)="toggleEdit()">
        {{editing ? 'Done✅': 'Edit✂️'}}
    </button>
    <button (click)="onRemove()">Remove💥</button>
    <hr>
</div>