<form #myForm="ngForm" novalidate>
    <div>{{detail | json}}</div>

    <div>Passenger Name: </div>
    <input 
        type="text" 
        name="fullname" 
        [ngModel]="detail?.fullname">

    <div>Passenger Id:</div>
    <input 
        type="number" 
        name="id" 
        [ngModel]="detail?.id">

    <div>Checked In:</div>
    <label>
        <input 
            type="checkbox" 
            name="checkedIn" 
            [ngModel]="detail?.checkedIn" 
            (ngModelChange)="toggleCheckIn($event)">
        Checked In
    </label>

    <div *ngIf="myForm.value.checkedIn">
        Check in Date:
        <input
            type="number"
            name="checkInDate" 
            [ngModel]="detail?.checkInDate">
    </div>

    {{myForm.value | json}}
</form>